---
import Badge from "@/shared/components/badge/Badge.astro"
import Button from "@/components/Button/Button.astro"
import cardImage from "@/images/in-progress.jpg"
import { Icon } from "astro-iconify"
import { Image } from "astro:assets"
import { ICONS } from "@/shared/lib/icons.ts"
import type { Project } from "@/shared/lib/types"
interface Props {
    project: Project
}
const { project } = Astro.props
---

<article
    class="w-full h-full border border-on-surface/20 squircle rounded-3xl supports-[corner-shape:squircle]:rounded-4xl p-4 flex-col-start gap-y-4 glass"
>
    <header class="flex-row-between items-center flex-wrap gap-y-2">
        <h3 class="flex-col-start gap-y-2 mb-0!">
            <Badge class="w-fit"> {project.status} </Badge>
            {project.title}
        </h3>
        <div class="flex-row-start gap-x-2">
            {
                project.githubLink && (
                    <a class="btn-text" href={project.githubLink}>
                        Github
                        <Icon name={ICONS.github} class="size-5" />
                    </a>
                )
            }
            {
                project.demoLink && (
                    <a class="btn-filled" href={project.demoLink}>
                        Visit
                        <Icon name={ICONS.link} class="size-5" />
                    </a>
                )
            }
        </div>
    </header>
    <p>
        {project.description}
    </p>

    <ul aria-label="tech stack" class="flex-row-start flex-wrap gap-x-2 items-center">
        <Icon name={ICONS.tag} class="size-5 text-tertiary" />
        {
            project.techStack.map((stack) => (
                <li>
                    <Badge variant="tertiary">{stack}</Badge>
                </li>
            ))
        }
    </ul>
    <!--<article class="flex flex-col gap-y-4 h-max">-->
    <!--    <header class="flex flex-col gap-y-3 items-start justify-start">-->
    <!--        <Badge> In Progress </Badge>
    -->
    <!--        <h3 class="text-lg font-bold mb-0!">Fullstack Restaurant Website</h3>-->
    <!--        <div class="md:flex md:flex-row items-center gap-x-1 w-full">-->
    <!--            &lt;!&ndash; <Button-->
    <!--                href="https://example.com"-->
    <!--                className="button button&#45;&#45;neutral active:button&#45;&#45;pressed"-->
    <!--                target="_blank"-->
    <!--            >-->
    <!--                <span>Live Demo</span>-->
    <!--                <span>-->
    <!--                    <Icon name="hugeicons:link-square-01" class="size-6" />-->
    <!--                </span>-->
    <!--            </Button> &ndash;&gt;-->
    <!--            <a href="https://github.com/exuseric/fullstack-restaurant-website" target="_blank" class="btn-text">-->
    <!--                <Icon name={ICONS.github} class="size-5" />-->
    <!--                <span>Github</span>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </header>-->
    <!--    <p class="text-base">-->
    <!--        This Next.js/TypeScript restaurant website prioritizes performance and scalability, utilizing PostgreSQL for-->
    <!--        data management.-->
    <!--    </p>-->
    <!--    <p>-->
    <!--        It employs a Fluent Repository Pattern for clean data access and integrates PostgreSQL's native tsvector for-->
    <!--        delivering high-speed, efficient full-text search functionality.-->
    <!--    </p>-->
    <!--    <ul aria-label="Project Technologies" class="flex flex-row items-center justify-start flex-wrap gap-2 text-sm">-->
    <!--        <li class="py-1 px-4 bg-surface-brand-subtle border-border-default border rounded-full">React</li>-->
    <!--        <li class="py-1 px-4 bg-surface-brand-subtle border-border-default border rounded-full">Typescript</li>-->
    <!--        <li class="py-1 px-4 bg-surface-brand-subtle border-border-default border rounded-full">Next.js</li>-->
    <!--        <li class="py-1 px-4 bg-surface-brand-subtle border-border-default border rounded-full">PostgreSQL</li>-->
    <!--    </ul>-->
    <!--</article>-->
</article>