---
import Badge from "@/shared/components/badge/Badge.astro"
import Button from "@/components/Button/Button.astro"
import cardImage from "@/images/in-progress.jpg"
import { Icon } from "astro-icon/components"
import { Image } from "astro:assets"
import { ICONS } from "@/shared/lib/constants.ts"
import type { Project } from "@/shared/lib/types"
interface Props {
    project: Project
}
const { project } = Astro.props
---

<article
    class="w-full h-full border border-on-surface/20 squircle rounded-3xl supports-[corner-shape:squircle]:rounded-4xl p-4 flex-col-start gap-y-4 glass"
>
    <header class="flex-row-between items-center flex-wrap gap-y-2">
        <h3 class="flex-col-start gap-y-2 mb-0!">
            <Badge class="w-fit"> {project.status} </Badge>
            {project.title}
        </h3>
        <div class="flex-row-start gap-x-2">
            {
                project.githubLink && (
                    <a class="btn-text" href={project.githubLink} target="_blank">
                        Github
                        <Icon name={ICONS.github} class="size-5" />
                    </a>
                )
            }
            {
                project.demoLink && (
                    <a class="btn-filled" href={project.demoLink} target="_blank">
                        Visit
                        <Icon name={ICONS.link} class="size-5" />
                    </a>
                )
            }
        </div>
    </header>
    <p>
        {project.description}
    </p>

    <ul aria-label="tech stack" class="flex-row-start flex-wrap gap-x-2 items-center">
        <Icon name={ICONS.tag} class="size-5 text-tertiary" />
        {
            project.techStack.map((stack) => (
                <li>
                    <Badge variant="tertiary">{stack}</Badge>
                </li>
            ))
        }
    </ul>
</article>