---
import Icon from "astro-iconify"
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"button" | "a" | "link"> {
    variant?: keyof typeof utilityClasses
    disabled?: boolean
    loading?: boolean
    iconName?: string
    href?: string
    size?: keyof typeof sizeClasses
    type?: "button" | "submit" | "reset"
    className?: string
    target?: string
}

const {
    variant = "default",
    disabled = false,
    loading,
    iconName = null,
    href = null,
    size = "md",
    type = "button",
    className = "",
    ...rest
} = Astro.props

const utilityClasses = {
    default: "button--neutral",
    primary: "button--primary",
    secondary: "button--secondary",
    destructive: "button--danger",
    success: "button--success",
    link: "button--link",
    text: "button--text",
    outline: "button--outline",
    ghost: "button--ghost",
} as const

const sizeClasses = {
    xs: "button--xs",
    sm: "button--sm",
    md: "button--md",
    lg: "button--lg",
    xl: "button--xl",
}

const classes = [
    "button active:button--pressed cursor-pointer group",
    utilityClasses[variant ?? "default"],
    sizeClasses[variant !== "text" ? size : "button--tiny"],
    loading && "button--loading",
    className ?? "",
]
---

{
    href ? (
        <a href={href} class:list={classes} {...rest}>
            {loading && <Icon name="hugeicons:loading-03" class="animate-spin size-6" />}
            <slot />
            {iconName && <Icon name={iconName} class="size-6" />}
        </a>
    ) : (
        <button type={type} class:list={classes} disabled={disabled} {...rest}>
            <Icon name="hugeicons:loading-03" class="animate-spin size-6 hidden group-data-loading:block" />
            <slot />
            {iconName && <Icon name={iconName} class="size-6" />}
        </button>
    )
}
<!-- ---
import "@/styles/button.css"
import { Icon } from "astro-iconify"

interface BaseProps {
    variant?:
        | "default"
        | "primary"
        | "secondary"
        | "destructive"
        | "success"
        | "link"
        | "text"
        | "icon"
        | "outline"
        | "ghost"
    disabled?: boolean
    loading?: boolean
    iconPosition?: "right" | "left"
    iconName?: string
    href?: string
    size?: "xs" | "sm" | "md" | "lg" | "xl"
    type?: "button" | "submit" | "reset"
    className?: string
    as: "icon-only" | "default"
    attributes?: {
        dataset?: Record<string, string | number | boolean>
        attributes?: Record<string, string | number | boolean>
    }
}

interface LabelButtonProps extends BaseProps {
    label: string
    ariaLabel?: string
    variant?: Exclude<BaseProps["variant"], "icon">
}

interface IconOnlyButtonProps extends BaseProps {
    iconName: string
    ariaLabel: string
    label?: never
    variant?: Exclude<BaseProps["variant"], "icon">
}

type Props = LabelButtonProps | IconOnlyButtonProps

const props = Astro.props as Props

const utilityClasses: Record<NonNullable<Props["variant"]>, string> = {
    default: "button--neutral",
    primary: "button--primary",
    secondary: "button--secondary",
    destructive: "button--danger",
    success: "button--success",
    link: "button--link",
    text: "button--text",
    outline: "button--outline",
    ghost: "button--ghost",
}

const sizeClasses: Record<NonNullable<Props["size"]>, string> = {
    xs: "button--xs",
    sm: "button--sm",
    md: "button--md",
    lg: "button--lg",
    xl: "button--xl",
}

const classes = [
    "button active:button--pressed",
    props.as === "icon-only" && "button--icon",
    utilityClasses[props.variant ?? "default"],
    sizeClasses[props.variant !== "text" ? "md" : "button--tiny"],
    props.loading && "button--loading",
    props.className ?? "",
]

const mapAttributes = (attributesObject: Props["attributes"]) => {
    const result: Record<string, string> = {}

    if (!attributesObject) return result
    const attributeEntries = Object.entries(attributesObject) as [
        "dataset" | "attributes",
        Record<string, string | number | boolean> | undefined,
    ][]

    for (const [attributeKey, attributes] of attributeEntries) {
        if (!attributes) continue

        for (const [attribute, value] of Object.entries(attributes)) {
            const kebab = attribute.replace(/[A-Z]/g, (m) => "-" + m.toLowerCase())
            const attributeName = attributeKey === "dataset" ? `data-${kebab}` : kebab
            result[attributeName] = String(value)
        }
    }

    return result
}
---

{
    props.href ? (
        <a
            {...mapAttributes(props.attributes)}
            href={props.disabled ? undefined : props.href}
            class:list={classes}
            aria-disabled={props.disabled ? "true" : "false"}
            aria-label={props.ariaLabel ?? props.label}
        >
            {props.iconName && props.iconPosition !== "right" && <Icon name={props.iconName} />}
            {props.label && <span class="button__label">{props.label}</span>}
            {props.iconName && props.iconPosition === "right" && <Icon name={props.iconName} />}
        </a>
    ) : (
        <button
            {...mapAttributes(props.attributes)}
            class:list={classes}
            disabled={props.disabled || props.loading}
            type={props.type ?? "button"}
            aria-label={props.ariaLabel ?? props.label}
        >
            {props.iconName && props.iconPosition !== "right" && <Icon name={props.iconName} />}
            {props.loading && <span class="button__spinner" aria-hidden="true" />}
            {props.label && <span class="button__label">{props.label}</span>}
            {props.iconName && props.iconPosition === "right" && <Icon name={props.iconName} />}
        </button>
    )
} -->
