<!-- import { Link } from "react-aria-components"
import { HugeiconsIcon } from "@hugeicons/react"
import { Github01Icon, Behance02Icon, Linkedin01Icon } from "@hugeicons/core-free-icons"

const links = [
    {
        href: "https://github.com/exuseric",
        icon: <HugeiconsIcon icon={Github01Icon} size={24} />,
        label: "Github",
    },
    {
        href: "https://linkedin.com/in/exuseric",
        icon: <HugeiconsIcon icon={Linkedin01Icon} size={24} />,
        label: "LinkedIn",
    },
    {
        href: "https://behance.net/exuseric",
        icon: <HugeiconsIcon icon={Behance02Icon} size={24} />,
        label: "Behance",
    },
]

export default function SocialLinks() {
    return (
        <div className="grid grid-cols-[repeat(auto-fit,minmax(80px,1fr))] items-center justify-between gap-x-1 w-full md:w-fit md:flex md:flex-row">
            {links.map((link) => (
                <Link
                    key={link.href}
                    className={({ isPressed }) => (isPressed ? "button button--primary" : "button button--ghost")}
                    href={link.href}
                    target="_blank"
                >
                    <span className="text">{link.label}</span>
                    <span className="icon" aria-hidden="true">
                        {link.icon}
                    </span>
                </Link>
            ))}
        </div>
    )
} -->
