---
import { getContent } from "@/utils/graphql-client";
import { heroQuery } from "@/utils/queries";
const res = await getContent(heroQuery);
const data = res.homePage.hero;
import "./style.css";
---

<header class="hero container">
    <div class="hero__wrapper">
        <div class="hero__heading">
            <p>{data.heading}</p>
            <h1 class="hero__title">{data.subheading}</h1>
        </div>
        <div class="hero__content">
            <p>
                {data.description}
            </p>
            <div class="btn-group">
                {
                    data.cta &&
                        data.cta.map((cta) => (
                            <a
                                href={cta.link}
                                class:list={[
                                    "btn btn--mid",
                                    cta.type === "primary" && "btn--primary",
                                    cta.type === "secondary" && "btn--outline",
                                ]}
                            >
                                {cta.title}
                            </a>
                        ))
                }
            </div>
        </div>
    </div>
</header>
