---
import data from "@/data/navigation.json";
const { nav } = data;
import style from "./navigation.module.css";
---

<nav
    data-menu
    data-is-menu-open="false"
    class:list={[style.nav__links]}
    aria-label="Main Navigation"
>
    <ul class:list={[style.nav__list]} aria-label="Main Navigation Links">
        {
            nav.links.map((link, index) => (
                <li class:list={[style.nav__listItem]}>
                    <a
                        href={link.url}
                        class:list={[style.nav__link, "link-button"]}
                        title={link.label}
                        aria-label={link.label}
                    >
                        {link.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<script>
    window.addEventListener("ToggleMenu", (event) => {
        const menu = document.querySelector("[data-menu]") as HTMLElement;
        const {detail} = event as CustomEvent;
      
        menu.dataset.isMenuOpen = String(detail.newState);
    })
</script>
