---
import { Image } from "astro:assets";
import data from "@data/navigation.json";
import socialLinksData from "@data/links.json";
import { Icon } from "astro-icon/components";
// const data = await getCollection("navigation");
const { nav } = data;
const { links: socialLinks } = socialLinksData;
---

<header class="primary_nav">
    <div class="container primary_nav__container grid">
        <a href="/" class="primary_nav__logo col-span-4">
            <Image
                src={nav.logo.img}
                width={150}
                height={60}
                alt={nav.logo.text}
                class="primary_nav__logo_img"
            />
        </a>
        <nav
            class="primary_nav__links col-span-12"
            aria-label="Main Navigation"
            role="navigation"
        >
            <ul
                class="primary_nav__list"
                data-menu
                data-is-open="false"
                aria-expanded="false"
                aria-label="Main Navigation Links"
            >
                {
                    nav.links.map((link, index) => (
                        <li class="primary_nav__list_item">
                            <a
                                href={link.url}
                                class={`primary_nav__link btn ${index === nav.links.length - 1 ? "btn-primary" : "btn-ghost"}`}
                            >
                                {link.label}
                            </a>
                        </li>
                    ))
                }
            </ul>
            <div class="primary_nav__actions">
                <section class="primary_nav__social">
                    {
                        socialLinks.map((link) => (
                            <a
                                href={link.url}
                                class="primary_nav__cta btn btn-icon btn-icon--sm"
                                title={link.name}
                                aria-label={link.name}
                            >
                                <Icon
                                    name={link.icon}
                                    aria-hidden="true"
                                    focusable="false"
                                />
                            </a>
                        ))
                    }
                </section>
                <section class="primary_nav__buttons">
                    <button
                        class="primary_nav__toggle btn btn-icon btn-primary btn-icon--lg hide-lg hide-md"
                        aria-expanded="false"
                        aria-label="Toggle Navigation"
                        data-toggle-button
                    >
                        <Icon
                            name="mdi:menu"
                            aria-hidden="true"
                            focusable="false"
                            data-toggle-icon
                            data-is-visible="true"
                        />
                        <Icon
                            name="mdi:close"
                            aria-hidden="true"
                            focusable="false"
                            data-toggle-icon
                            data-is-visible="false"
                        />
                    </button>
                </section>
            </div>
        </nav>
    </div>
</header>
<style>
    .primary_nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
        background-color: var(--color-bg);
    }
    .primary_nav__logo {
        width: 100%;
        height: 100%;
    }
    .primary_nav__logo_img {
        object-fit: contain;
        object-position: center;
    }
    .primary_nav__links {
        position: relative;
        isolation: isolate;

        justify-self: end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .primary_nav__list {
        position: absolute;
        top: 100%;
        z-index: -1;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: max-content;

        background-color: var(--color-bg);
        box-shadow: var(--shadow-md);
        transition: var(--transition-all);
    }
    .primary_nav__list[data-is-open="true"] {
        transform: translateX(0);
    }
    .primary_nav__list[data-is-open="false"] {
        transform: translateX(200%);
    }
    .primary_nav__list_item,
    .primary_nav__link {
        width: 100%;
    }

    .primary_nav__link {
        justify-content: flex-start;
    }
    .primary_nav__actions,
    .primary_nav__social,
    .primary_nav__buttons {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: var(--space-3);
    }
    [data-toggle-icon][data-is-visible="false"] {
        display: none;
    }
    [data-toggle-icon][data-is-visible="true"] {
        display: block;
    }

    @media (min-width: 768px) {
        .primary_nav__list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;
            gap: var(--space-2);

            list-style: none;
            margin: 0;
            padding: 0;
        }
        .primary_nav__links {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;
            gap: var(--space-3);
        }
        .primary_nav__list[data-is-open="true"],
        .primary_nav__list[data-is-open="false"] {
            transform: translateX(0);
            justify-self: end;
            position: relative;
            top: 0;
            z-index: -1;
            list-style: none;
            margin: 0;
            padding: 0;
            width: max-content;
            height: max-content;

            background-color: var(--color-bg);
            box-shadow: none;
            transition: var(--transition-all);
        }
        .primary_nav__list_item,
        .primary_nav__link {
            width: max-content;
        }

        .primary_nav__link {
            justify-content: center;
        }
    }
</style>
<script>
    const toggleButton = document.querySelector(
        "[data-toggle-button]",
    ) as HTMLButtonElement;
    const menu = document.querySelector("[data-menu]") as HTMLElement;

    if (toggleButton && menu) {
        toggleButton.addEventListener("click", () => {
            const toggleIcons = document.querySelectorAll(
                "[data-toggle-icon]",
            ) as NodeListOf<HTMLElement>;
            const isOpen = menu.dataset.isOpen === "true";
            const newState = !isOpen;

            // Update menu state
            menu.dataset.isOpen = String(newState);
            menu.setAttribute("aria-expanded", String(newState));
            toggleButton.setAttribute("aria-expanded", String(newState));

            // Toggle icons visibility
            toggleIcons.forEach((icon) => {
                const isVisible = icon.dataset.isVisible === "true";
                icon.dataset.isVisible = String(!isVisible);
            });
        });
    }
</script>
