---
import seo from "@/data/seo.json";
import { AstroFont } from "astro-font";
import Navigation from "@/components/navigation/Navigation.astro";
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{seo.title}</title>
    <meta name="description" content={seo.description} />
    <meta name="author" content={seo.author} />
    <link rel="canonical" href={seo.siteUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="theme-color" content={seo.themeColor} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={seo.openGraph.type} />
    <meta property="og:url" content={seo.openGraph.url} />
    <meta property="og:title" content={seo.openGraph.title} />
    <meta
      property="og:description"
      content={seo.openGraph.description}
    />
    <meta property="og:image" content={seo.openGraph.image.url} />
    <meta
      property="og:image:width"
      content={seo.openGraph.image.width}
    />
    <meta
      property="og:image:height"
      content={seo.openGraph.image.height}
    />
    <meta property="og:image:alt" content={seo.openGraph.image.alt} />

    <!-- Twitter -->
    <meta name="twitter:card" content={seo.twitter.card} />
    <meta name="twitter:site" content={seo.twitter.site} />
    <meta name="twitter:creator" content={seo.twitter.creator} />
    <meta name="twitter:title" content={seo.twitter.title} />
    <meta
      name="twitter:description"
      content={seo.twitter.description}
    />
    <meta name="twitter:image" content={seo.twitter.image} />
    <AstroFont
      config={[
        {
          src: [],
          name: "Inter",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
          cssVariable: "font-sans",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap",
        },
        {
          src: [],
          name: "Space Mono",
          preload: true,
          display: "swap",
          selector: "h1,h2",
          fallback: "monospace",
          cssVariable: "font-mono",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap",
        },
      ]}
    />
  </head>

  <body>
    <Navigation />
    <main id="main-content" class="page-wrapper">
      <slot />
    </main>
  </body>
</html>
